.result-container {
	.word-section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		min-height: 7.125rem;

		.word-left-section {
			height: 100%;
			h1 {
				line-height: 5rem;
				font-size: 3.7rem;
				font-weight: 700;
				word-break: break-word;
			}
			p {
				color: #a445ed;
				margin-top: 8px;
				line-height: 30px;
				font-size: 1.5rem;
			}
		}
		.word-right-section {
			.play-icon {
				width: 4.68rem;
				height: 4.68rem;
				cursor: pointer;
				path,
				circle {
					transition: all 0.2s ease-in;
				}

				:hover {
					circle {
						opacity: 1;
					}
					path {
						fill: #fff;
					}
				}
			}
		}
	}
	hr {
		margin-bottom: 19px;
		border: none;
		height: 1px;
		background-color: #e9e9e9;
	}
	.source-section {
		p {
			font-size: 0.875rem;
			line-height: 1rem;

			.source-title {
				color: #757575;
				border-bottom: 1px solid #757575;
				margin-right: 1.25rem;
			}
			a {
				text-decoration: none;
				border-bottom: 1px solid;
			}
			img {
				margin-left: 9px;
				vertical-align: bottom;
			}
			.source-footer {
				@media (width <= 450px) {
					margin-top: 0.625rem;
					display: block;
				}
			}
		}
	}
}
