//colors
$black-one: #050505;
$black-two: #1f1f1f;
$black-three: #2d2d2d;
$black-four: #3a3a3a;
$grey-one: #757575;
$grey-two: #e9e9e9;
$grey-three: #f4f4f4;
$white-four: #ffffff;
$purple: #a445ed;
$error-red: #ff5252;
