.error-result-container {
	text-align: center;
	margin-top: 6rem;
	p {
		line-height: 1.5rem;
	}
	.error-title {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		font-weight: 700;
		font-size: 1.25rem;
	}
}
