.navbar {
	display: flex;
	justify-content: space-between;

	&-right-nav {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;

		.dropdown-container {
			position: relative;
			height: 25px;

			.font-dropdown-btn {
				height: 100%;
				font-weight: 700;
				font-size: 18px;
				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
			}
			.font-dropdown {
				position: absolute;
				top: 2rem;
				background-color: #fff;
				right: 0.625rem;
				box-shadow: 0px 0px 10px 0px #e9e9e9;
				width: 9.375rem;
				display: none;
				border-radius: 0.625rem;
				padding: 0.5rem 0.625rem;
				flex-direction: column;
				z-index: 10;

				button {
					cursor: pointer;
					text-align: left;
					padding: 0.5rem 0.625rem;
					font-size: 1.125rem;
					font-weight: 700;
					line-height: 1.5rem;
					transition: all 0.2s ease-in;

					&:hover {
						color: #a445ed;
					}
				}
			}
			.show {
				display: flex;
			}
			.dark {
				box-shadow: 0px 0px 10px 0px #a445ed;
				background-color: #1d1d1d;
			}
		}
		.icon-moon {
			path {
				stroke: #a445ed;
			}
		}
		.separator {
			height: 60%;
			border-right: 1px solid grey;
		}
	}
	&-toggle-switch {
		width: 36px;
		display: inline-block;
		position: relative;
		border-radius: 20px;
		background-color: #757575;
		height: 20px;
		transition: all 0.2s linear;

		&:after {
			content: '';
			position: absolute;
			top: 1.4px;
			left: 1.5px;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			background-color: #fff;
			transition: all 0.2s linear;
		}
	}
	input[type='checkbox']:checked + &-toggle-switch::after {
		translate: 15.5px 0;
	}
	input[type='checkbox']:checked + &-toggle-switch {
		background-color: #a445ed;
	}
	input[type='checkbox'] {
		display: none;
	}
}
